
<div class="login-container">
    <h1 class="title-reg">Registro de usuarios</h1>
    <form id="registerForm" class="form-login">

        <label>Nombre</label>
        <input name="name" class="input-login">
        <br />
        <label>Apellido</label>
        <input name="lastName" class="input-login">
        <br />
        <label>Email</label>
        <input name="email" class="input-login">
        <br />
        <label>Username</label>
        <input name="username" class="input-login">
        <br />
        <label>Contraseña</label>
        <input type="password" name="password" class="input-login">

        <input type="submit" class="btn-login-submit">
          <p>¿Ya tienes una cuenta? </p>
    <a href="/users/login" class="alink-register">Ingresa aquí</a>
    </form>
  
</div>

<script src="/js/register.js"></script>